body {
  font-family: "lato", sans-serif;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  
}

.table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }

.col-2 {
    flex-basis: 40%;
  }

.col-3 {
    flex-basis: 25%;
  }

.col-4 {
    flex-basis: 25%;
  }

.table-header {
      display: none;
  }

li {
    display: block;
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

.col {
       flex-basis: 100%;
      display: flex;
      padding: 10px 0;
    }

.clsec {
  width: 250px;
  border: 1px black;
  margin-bottom: 1px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: "lato", sans-serif;
  /*height: 50px;*/
}

.clhd {
  width: 250px;
  background-color: rgba(175, 175, 175, 0.5);
  color: rgba(30,30,30,1);
  font-size: 14px;
  height: 16px;
  vertical-align: center;
  font-weight: bold;
  text-align: left;
  padding-left: 2px;
}

.clvl {
  width: 250px;
  font-size: 14px;
  /*height: 16px;*/
  text-align: center;
  padding: 2px;
}

.pos {
  color: rgba(0,114,189,1);
  text-align: right;
  font-weight: bold;
}

.neg {
  color: rgba(217,83,25,1);
  text-align: right;
  font-weight: bold;
}

.cltxt {
  color: rgba(30,30,30,1);
  text-align: left;
  width: 100px;
}


.column {
  float: left;
  padding: 10px;
  /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

.left {
  width: 20%;
}

.right {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clsecr {
  width: 750px;
  border: 1px black;
  margin-bottom: 20px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  font-family: "lato", sans-serif;
  align-content: center;
  /*height: 50px;*/
}

.clhdr {
  width: 750px;
  background-color: rgba(175, 175, 175, 0.5);
  color: rgba(30,30,30,1);
  font-size: 14px;
  height: 16px;
  vertical-align: center;
  font-weight: bold;
  text-align: left;
  padding-left: 2px;
}

.clvlr {
  width: 750px;
  font-size: 14px;
  /*height: 16px;*/
  text-align: left;
  padding: 2px;
}

.tblm {
  font-family: "lato", sans-serif;
  text-align: center;
  font-size: 14px;
  width: 750px;
}

.tblfl {
    /*background-color: #95a5a6*/;
    color: rgba(50, 50, 50, 1);
    font-weight: 550;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  .post {
  color: rgba(0,114,189,1);
  text-align: center;
}

.negt {
  color: rgba(217,83,25,1);
  text-align: center;
}

tr{
  border-bottom: 1pt solid black;
}

.tbltm {
  font-family: "lato", sans-serif;
  text-align: center;
  font-size: 12px;
  width: 200px;
}